[user]
    name  = Michael Nowack
    email = syranez@minaga-church.de
[core]
    editor = vim
# pager is a wrapper script in $HOME/.wrapper
#+ it uses vimpager as pager if available otherwise less
    pager  = pager
[alias]
    lg   = log --graph --pretty=format:'%C(yellow)%h%Creset%C(bold green)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    ci   = commit --verbose
    lgd  = log -p -2
    last = log -1 HEAD
[i18n]
    commitEncoding = utf-8
[merge]
    tool = vimdiff
