[user]
    name  = Michael Nowack
    email = syranez@minaga-church.de
[core]
    editor = vim
# pager is a wrapper script in $HOME/.wrapper
#+ it uses vimpager as pager if available otherwise less
#    pager  = gitpager
[alias]
    lg    = log -p -40
    stat  = git status
    ci    = commit --verbose
    lgd   = log -p -2
    last  = log -1 HEAD
    amend = commit --verbose --amend
    wtf   = !git-wtf
[i18n]
    commitEncoding = utf-8
[merge]
    tool = vimdiff
