# Standard file types
*.pdf
*.[jJ][pP][gG]
*.jpe
*.zip
*.odt
*.[pP][nN][gG]
*.html
# Ignore vim swap files
*.swp

# Mediadateien
*.ogg
*.mp3
*.mp4
*.m3u
*.flv

# Quellcode
*.php
*.sh

*.pgp
*.kdb
*.lock
*.txt
*.img
*.pub
*.bz2
*.tar.gz
*.conf
*.log
*.xml

# session files
.pulse-cookie
.xsession-errors
.serverauth*
.rnd
.ICEauthority
.dbus/
.dvdcss/
.covers/
.cache/
.fontconfig/

# configuration of programs, I should not touch
.htoprc

# Standard directorys
.ssh/

# history files, usally host bound so ignore it
.mysql_history
.viminfo
.lesshst
.octave_hist
.bash_history
.sqlite_history
.calc_history
.gtk-bookmarks
.pentadactyl/

# ignore configuration folders of programs I do not care about
.libreoffice/
.gimp-2.6/
.pki/
.gconfd/
# created by gimp (general graphics library)
.gegl-0.0/

# ignore configuration files I do not care about
.gnuplot-wxt

# ignore directorys containing only states.
.macromedia/
.gstreamer-0.10/
.crack-attack/

# do not track sensitive data
.my.cnf
.keychain/
.fetchmailrc
.fetchids
.procmailrc
# contains path to last used kdb
.keepass/
# contains secret keys
.remmina/
# contains oauth code
.bti
# contains projects and mail adress
.BOINC Manager
postponed
