[user]
    name  = Michael Nowack
    email = syranez@minaga-church.de
[core]
    editor = vim
# sadly, vimpager ist not available on all systems
#    pager  = "/usr/bin/vimpager"
[alias]
    lg   = log --graph --pretty=format:'%C(yellow)%h%Creset%C(bold green)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    ci   = commit --verbose
    lgd  = log -p -2
    last = log -1 HEAD
[i18n]
    commitEncoding = utf-8
[merge]
    tool = vimdiff
