XTerm*termName: xterm-256color
URxvt*termName: rxvt-256color

! Black
*color0:  #2E3436
*color8:  #555753
! Red
*color1:  #CC0000
*color9:  #EF2929
! Green
*color2:  #4E9A06
*color10: #8AE234
! Yellow
*color3:  #C4A000
*color11: #FCE94F
! Blue
*color4:  #3465A4
*color12: #729FCF
! Purple
*color5:  #75507B
*color13: #AD7FA8
! Cyan
*color6:  #06989A
*color14: #34E2E2
! White
*color7:  #D3D7CF
*color15: #EEEEEC

*.background: #c1c48b
*.Background: #c1c48b

!URxvt
URxvt.saveLines: 10000
URxvt*scrollBar: True
URxvt*scrollBar_right: True
URxvt*scrollColor: green
URxvt.scrollstyle: plain
URxvt.secondaryScroll: true
URxvt.foreground: #00DD00
URxvt.background: black
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
! URxvt.matcher.pattern.1: \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
URxvt.perl-ext-common: default,matcher
! URxvt.perl-ext-common: default,matcher,-option-popup,-selection-popup,-readline
URxvt.tintColor: black
URxvt.mapAlert: True
URxvt.visualBell: False
URxvt.shading:20
! URxvt.shading:70
URxvt*reverseVideo: false
URxvt*fading: 10
URxvt*loginShell: True
URxvt.transparent:true
URxvt*inheritPixmap: true.

URxvt*font:           xft:DejaVu\ Sans\ Mono\ for\ Powerline:pixelsize=11
URxvt*imFont:         xft:DejaVu\ Sans\ Mono\ for\ Powerline:regular:pixelsize=11
URxvt*boldFont:       xft:DejaVu\ Sans\ Mono\ for\ Powerline:bold:pixelsize=11
URxvt*italicFont:     xft:DejaVu\ Sans\ Mono\ for\ Powerline:italic:pixelsize=11
URxvt*boldItalicFont: xft:DejaVu\ Sans\ Mono\ for\ Powerline:bold:italic:pixelsize=11

!Xft
Xft.dpi: 96
Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.hinting:true
Xft.hintstyle: hintfull
Xft.rgba: rgb
*customization: -

*font:           xft:DejaVu\ Sans\ Mono\ for\ Powerline:pixelsize=11
*imFont:         xft:DejaVu\ Sans\ Mono\ for\ Powerline:regular:pixelsize=11
*boldFont:       xft:DejaVu\ Sans\ Mono\ for\ Powerline:bold:pixelsize=11
*italicFont:     xft:DejaVu\ Sans\ Mono\ for\ Powerline:italic:pixelsize=11
*boldItalicFont: xft:DejaVu\ Sans\ Mono\ for\ Powerline:bold:italic:pixelsize=11
